<h3> Contact </h3>


{{!-- index template will take care of this --}}
{{!-- <p>
  We can be found at: <br />
  1 Fake Street<br />
  NotRealsVille, MA, 00000
</p> --}}



{{#link-to 'contact.boston'}}Boston address{{/link-to}}
{{#link-to 'contact.ny'}}NYC address{{/link-to}}

{{outlet}}
