<h3> Our Team </h3>

{{!-- <p> Our team is composed of the best folks around. </p> --}}


{{!-- everything inside nested leadership template will be rendered --}}
{{#link-to 'team.leadership'}}Leadership{{/link-to}}
{{#link-to 'team.engineering'}}Engineering{{/link-to}}

{{outlet}}
